#screen-container {
	z-index: 0;
	text-align: center;
	height: 100%;
	width: 100%;
	margin: 25px auto;
	font-family: tahoma;
}

#game-container-inner{
	z-index: 0;
	margin: 0px auto;
	width: calc(100% - 19px);
	height: calc(100% - 19px);
	/*background-color: blue;	*/
	border: 4px dashed lightgray;
	/*border-image: url('../img/border.png') 90 90 stretch;*/
}

#game{
	margin: 0px auto;
	text-align: center;
	height: calc(100% - 30px - 80px);
	margin-top: 30px;
	/*background-color: blue;*/
}

.span-title{
	font-family: 'Righteous', cursive;
	font-size: 40px;
}

.span-title a{
	text-decoration: none;
	color: black;
}

.ponctuation{
	width: 15px;
	border-radius: 4px;
	border: 2px dotted red;
	text-align: center;
	font-size: 20px;
	outline: none;
}

.phrase{
	width: 90%;
	margin: 0px auto;
	font-size: 18px;
	line-height: 40px;
	margin-top:40px;
	text-align: left;
}

.objective{
	font-size: 18px;
	width: 90%;
	margin:0px auto;
}

.buttons{
	text-align: right;
	margin: 0px auto;
	margin-top: 5%;
   	height:75px; /*Diminuir tamanho de #game se mudar aqui!*/
   	width:100%;
   	/*border: 1px solid red;*/
   	padding-top: 0px;
	/*width: 400px;*/
	margin-right: 0;
}

ul {
	margin: 0px auto;
	list-style: none;
	text-decoration: none;
}

ul li{
	float: right;
	font-size: 18px;
	text-align: center;
	width: 120px;
	height: auto;
	margin: 0px auto;
	margin-right: 30px;
	line-height: 60px;
}


.alert{
	/*float: left;*/
	display: none;
}


.alert p{
	width: 80%;
	float: left;
	margin-left: 20px;
	font-size: 17px;
}

.faces{
	width: 50px;
	height: 50px;
}

#explicacao, #desistir-box{
	display: none;
	position: fixed;
	z-index: 1100;
	width: 100%;
	height: auto;
	top: 100px;
	font-size: 19px;
	border-radius: 4px;
	text-align: center;
}
#explicacao div, #desistir-box div{
	background-color: white;
	padding: 10px 10px;
	margin: 0px auto;
	width: 400px;
	height: 100%;
	/*padding-bottom: 40px;*/
}

#shade{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: rgba(0,0,0,0.5);
}

#nivel{
	float: left;
	font-size: 20px;
	margin-left: 40px;
	/*display: none;*/
}

#responder{
	background-color: #7cffb9;
	border: 3px solid #74ed92;
}

#responder:hover{
	text-decoration: none;
	background-color: #74ed92;
	cursor: pointer;
}

#desistir{
	display: none;
	background-color: #f47f7f;
	border: 3px solid #db5151;
}

#desistir:hover{
	text-decoration: none;
	background-color: #db5151;
	cursor: pointer;
}

#nivel span{
	font-size: 15px;
}

#parabens {
	text-align: center;
	display: none;
	border: 10px;
	border-image: url('../img/border.png') 90 90 stretch;
	width: calc(100% - 19px);
	height: calc(100% - 19px);
}

#parabens p{
	font-size: 24px;
	width: 80%;
	margin: 0px auto;
	margin-top: 40px;
	margin-bottom: 30px;
}

#desistirSim{
	margin-left: 20px;
}

/*New*/
.menu{
	display:block;
	position:relative;
	width: 700px;
	height: 40px;
	margin:2.5% auto;
}
.item-menu{
	display:inline-block;
	position:relative;
	width:200px;
	height: 40px;
	background-color: white;
}

.item-menu a{
	font-family: "Righteous", cursive;
	font-size: 22px;
	color: black;
	text-decoration: none;
	border-bottom: 2px solid black;
	/* padding-top:10px; */
}
.item-menu a:hover{
	border-bottom: 2px solid black;
	transition: .4s ease-in-out;
	padding:0px 10px;
}

.item-menu a:active{
	border-bottom: 2px solid black;
}

/* .item-menu:before{
	content:url('../img/truck.png');
  	display:inline-block;
} */

#game-container {
	z-index: 0;
	margin: 0px auto;
	height: auto;
	width: 80%;
	margin-top: 2%;
	/*background-color: green;*/
	border-radius: 4px;
	border: 4px dashed lightgray;
	/*border-image: url('../img/border.png') 150 150 round;*/
}
.container-container{
	display: block;
	position: relative;
	width: 85%;
	height: 92%;
	margin:	2% auto;

}

div.quiz-container{
	display: hidden;
	position:relative;
	height: 80%;
	margin: auto auto;
}
.quiz-container1{
	display: block;
	position:relative;
	height: 80%;
	margin: auto auto;
}

.instrucao{
	padding-top: 2%;
	font-size: 18px;
	margin-left: 40px;
	text-align: left;
	line-height: 28px;
}
.question-count{
	padding-top: 3%;
	font-size: 18px;
	margin-left: 40px;
	text-align: left;
}
.questao{
	display: none;
	position: relative;
	font-size: 18px;
	padding-top: 3%;
	padding-bottom: 1%;
	margin-left: 40px;
	text-align: left;
}

.radio{
	display: block;
	position: relative;
	font-size: 18px;
	padding-top: 2%;
	margin-left: 40px;
	text-align: left;
}
#q0{display:block;}
#q1,#q2,#q3,#q4,#q5,#q6,#q7,#q8,#q9,#q10,#q11,#q12,#q13,#q14,#q15,#q16,#q17,#q18,#q19,#q20, #q21{
	display: none;
}
#joaozinho, #juvenil, #bad{
	display:none;
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 18px;
	margin: 30px auto;
}
.joao{
	display: block;
	position: relative;
	width: 400px;
	height: 370px;
	background-image: url('../img/joaozinho.png');
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 40px auto;
}

.juvena{
	display: block;
	position: relative;
	width: 400px;
	height: 370px;
	background-image: url('../img/juvenil.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 40px auto;
}

.mal{
	display: block;
	position: relative;
	width: 400px;
	height: 370px;
	background-image: url('../img/bad.png');
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 40px auto;
}

.footer{
	display: block;
	position: absolute;
	width:100%;
	height: auto;
	margin-bottom:0px;
	margin-top: 30px;
	background-color: black;
}
.logo{
	display: inline-block;
	position: relative;
	width: 180px;
	height: 120px;
	background-image: url('../img/logo-ufscar.png');
	background-size: 90%;
	background-repeat: no-repeat;
	/* background-color: white; */
	margin: 40px auto;
}
.texto-footer{
	display: block;
	position: relative;
	width: 40%;
	height: 50px;
	/* background-image: url('../img/logo-ufscar.png'); */
	/* background-color: white; */
	margin: -20px auto 40px auto;
	font-family: "Myriad Pro";
	font-size: 18px;	
	color: white;
}

.shadow{
	position: fixed;
	z-index:100000;
	display: none;
	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,0.8);
	top:0;
	left:0; 
}
.shadow-container{
	display: block;
	position: relative;
	width:80%;
	height:80%;
	margin: auto;
	padding-top: 20%;
}

.box-resultadoParcial{
	display: block;
	width:60%;
	height: auto;
	margin: auto auto;
	background-color: #fafafa;
	border: 1px solid black;
	border-radius: 2px;
	padding:20px;
}

.box-resultadoParcial span{
	text-align: center;
	font-size: 18px;
}

#displayResultadoFinal span{
	text-align: center;
	font-size: 18px;
}

.hidden{
	display: none;
}

